Repository pdarleyjr/NextCloud-App-Build, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, test, documentation, ci, docker, dependencies

Integrated therapist scheduling and payments app
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  custom_apps/appointments/README.md
  custom_apps/appointments/appinfo/info.xml
  custom_apps/appointments/appinfo/routes.php
  custom_apps/appointments/composer.json
  custom_apps/appointments/css/style.css
  custom_apps/appointments/js/appointments-main.js
  custom_apps/appointments/lib/AppInfo/Application.php
  custom_apps/appointments/lib/Controller/AppointmentController.php
  custom_apps/appointments/lib/Controller/BillingController.php
  custom_apps/appointments/lib/Controller/PageController.php
  custom_apps/appointments/lib/Controller/TherapistController.php
  custom_apps/appointments/lib/Service/AppointmentService.php
  custom_apps/appointments/lib/Service/BillingService.php
  custom_apps/appointments/lib/Service/TherapistService.php
  custom_apps/appointments/templates/index.php
  docker-compose.yml
  push-changes.sh
Labels: documentation, docker

Update Nextcloud app configuration and fix issues with appointments app
  custom_apps/appointments/README.md
  custom_apps/appointments/appinfo/info.xml
  custom_apps/appointments/appinfo/routes.php
  custom_apps/appointments/composer.json
  custom_apps/appointments/css/style.css
  custom_apps/appointments/img/app-dark.svg
  custom_apps/appointments/img/app.svg
  custom_apps/appointments/js/appointments-main.js
  custom_apps/appointments/lib/AppInfo/Application.php
  custom_apps/appointments/lib/Controller/AppointmentController.php
  custom_apps/appointments/lib/Controller/BillingController.php
  custom_apps/appointments/lib/Controller/PageController.php
  custom_apps/appointments/lib/Controller/TherapistController.php
  custom_apps/appointments/lib/Service/AppointmentService.php
  custom_apps/appointments/lib/Service/BillingService.php
  custom_apps/appointments/lib/Service/TherapistService.php
  custom_apps/appointments/templates/index.php
Labels: documentation

Implement appointment booking system with Square payment integration
  custom_apps/appointments/appinfo/routes.php
  custom_apps/appointments/lib/Controller/AppointmentController.php
  custom_apps/appointments/lib/Controller/AppointmentTypeController.php
  custom_apps/appointments/lib/Controller/BillingController.php
  custom_apps/appointments/lib/Service/BillingService.php
  custom_apps/appointments/src/components/AppointmentTypeSelector.vue
  custom_apps/appointments/src/components/DateTimeSelector.vue
  custom_apps/appointments/src/components/PaymentProcessor.vue
  custom_apps/appointments/src/components/TherapistSelector.vue
  custom_apps/appointments/src/views/BookAppointment.vue
Labels: none

Codespace updated file push
  custom_apps/appointments/package-lock.json
  custom_apps/appointments/src/components/App.vue
  custom_apps/appointments/src/views/Analytics.vue
  custom_apps/appointments/src/views/AppointmentsList.vue
  custom_apps/appointments/src/views/InvoicesList.vue
  custom_apps/appointments/src/views/Schedule.vue
Labels: none

Fix 404 errors for SCSS/CSS files and GitHub Codespaces session timeout issues
  .devcontainer/devcontainer.json
  TROUBLESHOOTING.md
  custom_apps/appointments/webpack.common.js
  custom_apps/appointments/webpack.dev.js
  custom_apps/appointments/webpack.prod.js
  disable-source-maps.js
  keep-session-alive.sh
  push-changes.sh
  verify-scss-files.sh
Labels: documentation

Modernize Nextcloud Appointments App
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  PULL_REQUEST.md
  package.json
  postcss.config.js
  scss/_svariables.scss
  scss/form.scss
  verify-scss-files.sh
Labels: documentation, dependencies

Fix CSS parsing errors: Convert opacity percentages to decimal values, update RGB color notation, add proper placeholder styling, and add Stylelint configuration
  custom_apps/appointments/.stylelintrc.json
  custom_apps/appointments/scss/datepicker/animation.scss
  custom_apps/appointments/scss/datepicker/index.scss
  custom_apps/appointments/scss/datepicker/scrollbar.scss
  custom_apps/appointments/scss/form.scss
  custom_apps/appointments/scss/style.scss
Labels: none

Fix actions/upload-artifact@v4 configuration
  .github/workflows/ci.yml
Labels: ci

Update task log with summary and remaining tasks
  task_log.md
Labels: documentation

Add final status to task log
  task_log.md
Labels: documentation

Update task log with comprehensive summary
  task_log.md
Labels: documentation

Fix browser console issues in Nextcloud & GitHub Codespaces
  .devcontainer/devcontainer.json
  .github/workflows/lint-css.yml
  BROWSER_CONSOLE_FIXES.md
  config/config.php
  custom_apps/appointments/.stylelintrc.json
  custom_apps/appointments/scss/datepicker/index.scss
  custom_apps/appointments/scss/form.scss
  custom_apps/appointments/scss/style.scss
  custom_apps/appointments/webpack.common.js
  docker-compose.yml
  scripts/repair-nextcloud.sh
  scripts/validate-css.sh
  task_log.md
Labels: documentation, ci, docker

Fix workflow and dependency issues
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/lint-css.yml
  .github/workflows/project-management.yml
  CI_CD_MAINTENANCE.md
  auto-merge-dependabot-prs.sh
  composer.json
  merge-dependabot-prs.sh
  package.json
  webpack.config.js
Labels: frontend, backend, documentation, ci, dependencies

Add final status to task log
  task_log.md
Labels: documentation

Update task log with comprehensive summary
  task_log.md
Labels: documentation

Fix workflow and dependency issues
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/lint-css.yml
  .github/workflows/project-management.yml
  CI_CD_MAINTENANCE.md
  auto-merge-dependabot-prs.sh
  composer.json
  merge-dependabot-prs.sh
  package.json
  webpack.config.js
  workflow_dependency_analysis_report.md
Labels: frontend, backend, documentation, ci, dependencies

Fix dependency compatibility issues
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/lint-css.yml
  dependency-fix-strategy.md
  webpack.config.js
Labels: frontend, documentation, ci

Add GitHub workflows for auto-assign, labeler, project management, linting, and CI
  .eslintrc.js
  .github/workflows/add-to-project.yml
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/github-script.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  comment-on-superseded-prs.sh
  composer.json
  fix-failing-prs.sh
  webpack.config.js
Labels: frontend, backend, ci, dependencies

Update linting workflows and package configuration for improved dependency management and versioning
  .github/workflows/lint-css.yml
  .github/workflows/lint.yml
  .npmrc
  package.json
Labels: ci, dependencies

Update Codespace prebuild action to use the latest version
  .github/workflows/codespace-pr-review.yml
Labels: ci

Add CreateInvoice component and update routing; improve SCSS styles and XML formatting
  custom_apps/appointments/appinfo/info.xml
  custom_apps/appointments/scss/form.scss
  custom_apps/appointments/scss/style.scss
  custom_apps/appointments/src/main.js
  custom_apps/appointments/src/services/SettingsService2.js
  custom_apps/appointments/src/views/CreateInvoice.vue
Labels: none

.github/labeler.yml:

# Add 'frontend' label to any changes in the 'src' directory
frontend:
  - src/**/*
  - webpack.config.js
  - babel.config.js
  - jest.config.js

# Add 'backend' label to any changes in the 'lib' directory
backend:
  - lib/**/*
  - composer.json
  - .php-cs-fixer.dist.php
  - phpunit.xml

# Add 'test' label to any changes in the 'tests' directory
test:
  - tests/**/*
  - jest.config.js
  - phpunit.xml

# Add 'documentation' label to any changes to markdown files
documentation:
  - '**/*.md'
  - LICENSE

# Add 'ci' label to any changes in the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'docker' label to any changes to docker-compose.yml
docker:
  - docker-compose.yml

# Add 'dependencies' label to any changes to package.json or composer.json
dependencies:
  - package.json
  - composer.json
